<p-table #dt
    [columns]="columnsToShow" [value]="data" dataKey="id" [scrollable]="true" responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
    sortMode="multiple"
    [resizableColumns]="true" columnResizeMode="expand"
    [reorderableColumns]="true"
    [lazy]="true" (onLazyLoad)="updateData($event)">
    <ng-template pTemplate="caption"> <!-- LOGIC FOR DRAWING TABLE ACTIONS ABOVE THE HEADER -->
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center; gap: 10px;">
                <!--CHOOSE COLUMNS TO SHOW-->
                <p-multiSelect [options]="columnsSelectable" [(ngModel)]="columnsSelected" optionLabel="header"
                    [selectedItemsLabel]="'{0} ' + selectedColumnsDropdownSelectedPlaceholder" [style]="{minWidth: '400px'}" [placeholder]="selectedColumnsDropdownPlaceholder" [showToggleAll]=true (onChange)="columnsChanged($event)"></p-multiSelect>
                
                <!--CLEAR SORTS AND FILTERS-->
                <button pButton pRipple (click)="clearSortsAndFilters(dt)" style="height: 50px;" [disabled]="!hasToClearSortsAndFilters(dt, globalSearchText)">
                    <i class="pi pi-sort-alt-slash" style="margin-right: 8px;"></i>
                    <i class="pi pi-filter-slash"></i>
                </button>
            </div>
            <div style="display: flex; align-items: center; gap: 10px;">
                <!--GLOBAL FILTER-->
                <span *ngIf="globalSearchEnabled" class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" [placeholder]="globalSearchPlaceholder" [(ngModel)]="globalSearchText"/>
                </span>

                <!--REFRESH DATA-->
                <button pButton pRipple icon="pi pi-refresh" (click)="updateData(this.tableLazyLoadEventInformation)"></button>
                
                <!--HEADER ACTION BUTTONS-->
                <td *ngIf="headerActionButtons.length > 0" style="display: flex; justify-content: center; align-items: center;">
                    <ng-container *ngFor="let button of headerActionButtons">
                        <button pButton pRipple 
                                [ngClass]="button.color"
                                [icon]="button.icon" 
                                (click)="button.action && handleButtonsClick(button.action, null)"
                                style="margin-right: 10px;">
                        </button>
                    </ng-container>
                </td>
            </div>
        </div>
    </ng-template>

    <!-- LOGIC FOR DRAWING TABLE HEADERS -->
    <ng-template pTemplate="header" let-columns> 
        <tr>
            <th *ngIf="rowActionButtons.length > 0" scope="col" style="text-align: center;">
                {{actionColumnName}}
            </th>
            <ng-container *ngFor="let col of columns">
                <th 
                    pResizableColumn [pResizableColumnDisabled]="!col.canBeResized ? true : false"
                    pReorderableColumn [pReorderableColumnDisabled]="!col.canBeReordered ? true : false"
                    [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.canBeSorted ? true : false"
                    style="text-align: center;"
                    [id]="col.field + '-header'" [attr.scope]="'col'">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <ng-container *ngIf="col.canBeSorted">
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </ng-container>
                        <ng-container *ngIf="col.canBeFiltered">
                            <ng-container *ngIf="!col.filterUsesPredifinedValues">
                                <p-columnFilter type="{{col.dataType}}" field="{{col.field}}" display="menu" showButtons="false"/>
                            </ng-container>
                            <ng-container *ngIf="col.filterUsesPredifinedValues">
                                <p-columnFilter
                                    type="{{col.dataType}}" field="{{col.field}}" display="menu" showButtons="false"
                                    matchMode="in" operator="or"
                                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showClearButton]="false" [showApplyButton]="false">
                                    <ng-template pTemplate="filter">
                                        <p-multiSelect [style]="{minWidth: '400px'}"
                                            [(ngModel)]="predifinedFiltersSelectedValuesCollection[col.filterPredifinedValuesName]"
                                            [options]="getPredifinedFilterValues(col.filterPredifinedValuesName)"
                                            [placeholder]="predifinedFiltersNoSelectionPlaceholder"
                                            (onChange)="onPredifinedFilterChange(col.field, $event.value)"
                                            optionLabel="name">
                                            <ng-template pTemplate="selectedItems">
                                                <ng-container *ngIf="predifinedFiltersSelectedValuesCollection[col.filterPredifinedValuesName] && predifinedFiltersSelectedValuesCollection[col.filterPredifinedValuesName].length > 0; else noSelectionPlaceholder">
                                                    <div class="flex align-items-center gap-2">
                                                        <div>{{ predifinedFiltersSelectedValuesText(col.filterPredifinedValuesName) }}</div>
                                                    </div>
                                                </ng-container>
                                                <ng-template #noSelectionPlaceholder>
                                                    <div>{{ predifinedFiltersNoSelectionPlaceholder }}</div>
                                                </ng-template>
                                            </ng-template>
                                            <ng-template let-option pTemplate="item">
                                                <div class="inline-block vertical-align-middle">
                                                    <i *ngIf="option.icon" [class]="option.icon + ' vertical-align-middle mr-2'"></i>
                                                    <img *ngIf="option.iconBlob" alt="iconBlob" [src]="getBlobIconAsUrl(option.iconBlob)" height="28" class="vertical-align-middle mr-2" />
                                                    <img *ngIf="option.iconURL" alt="iconFromURL" [src]="option.iconURL" height="28" class="vertical-align-middle mr-2" />
                                                    <p-tag *ngIf="option.displayTag === true" [style]="option.tagStyle" [value]="option.name" class="vertical-align-middle mr-2"/>
                                                    <span *ngIf="option.displayName === true" class="ml-1 mt-1">{{ option.name }}</span>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="footer">
                                                <div class="py-2 px-3">
                                                    {{predifinedFiltersSelectedValuesText(col.filterPredifinedValuesName)}}
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </ng-container>
                        </ng-container>
                    </div>
                </th>
            </ng-container>
        </tr>
    </ng-template>

    <!-- LOGIC FOR DRAWING TABLE DATA WHEN THERE IS CONTENTS -->
    <ng-template pTemplate="body" let-rowData let-columns="columns"> 
        <tr>
            <!-- ACTION BUTTONS -->
            <td *ngIf="rowActionButtons.length > 0" style="display: flex; justify-content: center; align-items: center;">
                <ng-container *ngFor="let button of rowActionButtons">
                    <button *ngIf="!button.condition || button.condition(rowData)"
                            pButton 
                            [ngClass]="button.color || 'p-button-outlined'"
                            [icon]="button.icon" 
                            (click)="button.action && handleButtonsClick(button.action, rowData)" 
                            size="small" 
                            class="p-button-sm" 
                            style="height: 28px; margin-right: 10px;">
                    </button>
                </ng-container>
            </td>

            <!-- REST OF COLUMNS -->
            <ng-container *ngFor="let col of columns">
                <td [style.text-align]="col.dataAlign" [ngSwitch]="col.dataType">
                    <div *ngIf="rowData[col.field] !== null; else nullContent">
                        <div *ngIf="col.filterUsesPredifinedValues">
                            <div class="inline-block vertical-align-middle">
                                <ng-container *ngIf="getPredfinedFilterMatch(col, rowData[col.field]) as option">
                                    <div class="inline-block vertical-align-middle">
                                        <i *ngIf="option.icon" [class]="option.icon + ' vertical-align-middle mr-2'"></i>
                                        <img *ngIf="option.iconBlob" alt="iconBlob" [src]="getBlobIconAsUrl(option.iconBlob)" height="28" class="vertical-align-middle mr-2" />
                                        <img *ngIf="option.iconURL" alt="iconFromURL" [src]="option.iconURL" height="28" class="vertical-align-middle mr-2" />
                                        <p-tag *ngIf="option.displayTag === true" [style]="option.tagStyle" [value]="option.name" class="vertical-align-middle mr-2"></p-tag>
                                        <span *ngIf="option.displayName === true" [innerHtml]="highlightText(option.name, col, globalSearchText)" class="ml-1 mt-1">{{rowData[col.field]}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div *ngIf="!col.filterUsesPredifinedValues">
                            <div *ngSwitchCase="'boolean'">
                                <i class="pi" [style.color]="rowData[col.field] ? 'green' : 'red'" [ngClass]="{ 'pi-check-circle': rowData[col.field], 'pi-times-circle': !rowData[col.field] }"></i>
                            </div>
                            <div *ngSwitchCase="'date'">
                                <div [innerHtml]="highlightText(formatDate(rowData[col.field]), col, globalSearchText)">
                                    {{ formatDate(rowData[col.field]) }}
                                </div>
                            </div>
                            <div *ngSwitchDefault>
                                <div [innerHtml]="highlightText(rowData[col.field], col, globalSearchText)">{{rowData[col.field]}}</div>
                            </div>
                        </div>
                    </div>
                    <ng-template #nullContent>
                         <!-- Content for null cases, by default, don't draw anything -->
                    </ng-template>
                </td>
            </ng-container>
        </tr>
    </ng-template>

    <!-- LOGIC FOR DRAWING TABLE DATA WHEN THERE IS NO CONTENTS -->
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="999">{{noDataFoundText}}</td>
        </tr>
    </ng-template>

    <!-- LOGIC FOR DRAWING PAGINATION -->
    <ng-template pTemplate="summary"> 
        <p-paginator  [first]="currentPage * currentRowsPerPage" [rows]="currentRowsPerPage" [totalRecords]="totalRecords" (onPageChange)="pageChange($event)" [rowsPerPageOptions]="allowedRowsPerPage"
            [showCurrentPageReport]="true" [currentPageReportTemplate]="showingRecordsText +' {first} - {last}'"/>
            <div>{{notApplyingFiltersText}}: {{totalRecordsNotFiltered}}</div>
            <div>{{applyingFiltersText}}: {{totalRecords}}</div>
    </ng-template>
</p-table>