<div #tableContainer style="position: relative;">
    <p-table #dt
        [scrollHeight]="computeScrollHeight ? scrollHeight : ''"
        [columns]="columnsToShow" [value]="data" dataKey="rowID" [scrollable]="true" responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
        sortMode="multiple"
        [resizableColumns]="true" columnResizeMode="expand"
        [reorderableColumns]="true"
        scrollDirection="both"
        [lazy]="true" (onLazyLoad)="updateData($event)">
        
        <!--TEMPLATE FOR THE ACTIONS HEADER COLUMN-->
        <ng-template #actionColumnHeaderTemplate>
            <th *ngIf="rowActionButtons.length > 0" 
                [ngStyle]="{'max-width': actionsColumnWidth +'px', 'min-width': actionsColumnWidth + 'px', 'width': actionsColumnWidth + 'px'}"
                pResizableColumn [pResizableColumnDisabled]="!actionsColumnResizable"
                pFrozenColumn [frozen]="actionsColumnFrozen" [alignFrozen]="getFrozenColumnAlignAsText(actionsColumnAligmentRight ? enumFrozenColumnAlign.Right : enumFrozenColumnAlign.Left)"
                id="actions-header" [attr.scope]="'col'"
                style="text-align: center;">
                {{actionColumnName}}
            </th>
        </ng-template>

        <!--TEMPLATE FOR THE ACTIONS ROW COLUMN-->
        <ng-template #actionColumnTemplate let-rowData="rowData">
            <td *ngIf="rowActionButtons.length > 0" 
                [ngStyle]="{'max-width': actionsColumnWidth +'px', 'min-width': actionsColumnWidth + 'px', 'width': actionsColumnWidth + 'px'}"
                style="text-align: center; vertical-align: middle;"
                pFrozenColumn [frozen]="actionsColumnFrozen" [alignFrozen]="getFrozenColumnAlignAsText(actionsColumnAligmentRight ? enumFrozenColumnAlign.Right : enumFrozenColumnAlign.Left)">
                <ng-container *ngFor="let button of rowActionButtons">
                    <button [disabled]="button.condition ? !button.condition(rowData) : false"
                            pButton pRipple
                            [ngClass]="button.color || 'p-button-outlined'"
                            [icon]="button.icon ? button.icon : ''" 
                            [label]="button.label ? button.label : ''" 
                            (click)="button.action && handleButtonsClick(button.action, rowData)" 
                            size="small" 
                            class="p-button-sm" 
                            style="height: 28px; margin-right: 10px;"
                            [pTooltip]="button.tooltip || ''" 
                            [showDelay]="700"
                            tooltipPosition="top">
                    </button>
                </ng-container>
            </td>
        </ng-template>

        <!--TEMPLATE FOR THE ROW SELECTOR HEADER COLUMN-->
        <ng-template #rowSelectorColumnHeaderTemplate>
            <th [ngStyle]="{'max-width': rowSelectorColumnWidth +'px', 'min-width': rowSelectorColumnWidth + 'px', 'width': rowSelectorColumnWidth + 'px'}"
                id="rowSelector-header" [attr.scope]="'col'"
                pResizableColumn [pResizableColumnDisabled]="!rowselectorColumnResizable"
                pFrozenColumn [frozen]="rowSelectorColumnFrozen" [alignFrozen]="getFrozenColumnAlignAsText(rowSelectorColumnAligmentRight ? enumFrozenColumnAlign.Right : enumFrozenColumnAlign.Left)"
                style="text-align: center;">
                <div class="p-d-flex p-jc-between p-ai-center">
                    {{rowSelectorColumName}}
                    <p-columnFilter type="boolean" field="selector" display="menu" [showButtons]="false"></p-columnFilter>
                </div>
            </th>
        </ng-template>

        <!--TEMPLATE FOR THE ROW SELECTOR ROW COLUMN-->
        <ng-template #rowSelectorColumnTemplate let-rowData="rowData">
            <td [ngStyle]="{'max-width': rowSelectorColumnWidth +'px', 'min-width': rowSelectorColumnWidth + 'px', 'width': rowSelectorColumnWidth + 'px'}"
                style="text-align: center; vertical-align: middle;"
                pFrozenColumn [frozen]="rowSelectorColumnFrozen" [alignFrozen]="getFrozenColumnAlignAsText(rowSelectorColumnAligmentRight ? enumFrozenColumnAlign.Right : enumFrozenColumnAlign.Left)">
                <p-checkbox 
                    [ngModel]="isRowSelected(rowData.rowID)"
                    (onChange)="onRowSelectChange($event, rowData.rowID)"
                    [binary]="true"></p-checkbox>
            </td>
        </ng-template>
        
        <!--TEMPLATE FOR THE PREDIFINED FILTERS-->
        <ng-template #predifinedFilterTemplate let-option="option" let-col="col" let-rowData="rowData">
            <i *ngIf="option.icon" [class]="option.icon + ' vertical-align-middle mr-2'" [style.color]="option.iconColor ? option.iconColor : ''" [style]="option.iconStyle ? option.iconStyle : ''"></i>
            <p-skeleton *ngIf="!option.iconBlob && option.iconBlobSourceEndpoint" size="28px" class="vertical-align-middle mr-2"></p-skeleton>
            <img *ngIf="option.iconBlob" alt="iconBlob" [src]="getBlobIconAsUrl(option.iconBlob)" height="28" class="vertical-align-middle mr-2"/>
            <img *ngIf="option.iconURL" alt="iconFromURL" [src]="option.iconURL" height="28" class="vertical-align-middle mr-2"/>
            <p-tag *ngIf="option.displayTag === true" [style]="option.tagStyle" class="vertical-align-middle mr-2">{{ option.name }}</p-tag>
            <span *ngIf="option.displayName === true" class="ml-1 mt-1">{{ option.name }}</span>
        </ng-template>

        <ng-template pTemplate="caption"> <!-- LOGIC FOR DRAWING TABLE ACTIONS ABOVE THE HEADER -->
            <div #headerContainer style="display: flex; justify-content: space-between; align-items: center;">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <!--CHOOSE COLUMNS TO SHOW-->
                    <div *ngIf="columnEditorShow">
                        <button pButton pRipple icon="pi pi-info" (click)="showColumnModal()"
                            pTooltip="Modify columns"
                            [showDelay]="700"
                            tooltipPosition="top">
                        </button>
                    </div>

                    <!--CLEAR SORTS AND FILTERS-->
                    <button *ngIf="showClearSorts" pButton pRipple icon="pi pi-sort-alt-slash" (click)="clearSorts(dt)" [disabled]="!hasToClearSorts(dt)"
                        pTooltip="Clear sorts"
                        [showDelay]="700"
                        tooltipPosition="top">
                    </button>
                    <button *ngIf="showClearFilters" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilters(dt)" [disabled]="!hasToClearFilters(dt, globalSearchText)"
                        pTooltip="Clear filters"
                        [showDelay]="700"
                        tooltipPosition="top">
                    </button>
                </div>

                <!--TABLE VIEWS-->
                <div *ngIf="tableViewSaveAs !== enumTableViewSaveMode.noone && tableViewsFirstFetchDone===true && tableViewSaveKey !== ''" style="display: flex; align-items: center; gap: 10px;">
                    <div class="p-inputgroup custom-inputgroup" 
                        style="display: flex; align-items: center;">
                        <div (click)="viewsModalShow=true; $event.stopPropagation();" style="cursor: pointer; display: flex; align-items: center; padding: 0 10px;">
                            <input
                                type="text"
                                pInputText
                                [value]="tableViewCurrentSelectedAlias ? tableViewCurrentSelectedAlias : '--- Select a view ---'"
                                readonly
                                style="background-color: transparent; border: none; flex-grow: 1; pointer-events: none;"
                                [style.font-style]="tableViewCurrentSelectedAlias ? 'normal' : 'italic'"/>
                        </div>
                        <div class="vertical-separator"></div>
                        <button pButton 
                            pTooltip="Apply view again"
                            tooltipPosition="top"
                            [showDelay]="700"
                            type="button" icon="pi pi-refresh" (click)="loadTableView()"
                            class="p-button custom-refresh-button" style="cursor: pointer; height: 100%; padding: 0;" [disabled]="!hasLoadView()">
                        </button>
                        <button pButton 
                            pTooltip="Reset table view to original"
                            tooltipPosition="top"
                            [showDelay]="700"
                            type="button" icon="pi pi-eraser" (click)="resetTableView()"
                            class="p-button custom-refresh-button" style="cursor: pointer; height: 100%; padding: 0;">
                        </button>
                    </div>
                    
                </div>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <!--GLOBAL FILTER-->
                    <span *ngIf="globalSearchEnabled" class="p-input-icon-left p-ml-auto" [ngClass]="{'p-input-icon-right': globalSearchText}" >
                        <i class="pi pi-search" style="pointer-events: none;"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" [maxlength]="globalSearchMaxLength" [placeholder]="globalSearchPlaceholder" [(ngModel)]="globalSearchText" [style]="{width: '220px'}"/>
                        <i *ngIf="globalSearchText" class="pi pi-times" style="cursor: pointer;" (click)="clearFilters(dt, true, true); $event.stopPropagation()"></i>
                    </span>

                    <!--EXPORT DATA-->
                    <button *ngIf="reportSourceURL && reportSourceURL.trim().length > 0" 
                        pButton pRipple icon="pi pi-file-excel" (click)="openExcelReport(); $event.stopPropagation();"
                        pTooltip="Export table to Excel"
                        [showDelay]="700"
                        tooltipPosition="top"></button>

                    <!--REFRESH DATA-->
                    <button *ngIf="showRefreshData" pButton pRipple icon="pi pi-refresh" (click)="updateData(this.tableLazyLoadEventInformation)"
                        pTooltip="Refresh data"
                        [showDelay]="700"
                        tooltipPosition="top"></button>
                    
                    <!--HEADER ACTION BUTTONS-->
                    <td *ngIf="headerActionButtons.length > 0" style="display: flex; justify-content: center; align-items: center;">
                        <ng-container *ngFor="let button of headerActionButtons">
                            <button [disabled]="button.condition ? !button.condition(null) : false"
                                    [pTooltip]="button.tooltip || ''" 
                                    [tooltipDisabled]="!button.tooltip || button.tooltip.length === 0"
                                    [showDelay]="700"
                                    tooltipPosition="top"
                                    pButton pRipple
                                    [ngClass]="button.color"
                                    [icon]="button.icon ? button.icon : ''" 
                                    [label]="button.label ? button.label : ''" 
                                    (click)="button.action && handleButtonsClick(button.action, null)"
                                    style="margin-right: 10px;">
                            </button>
                        </ng-container>
                    </td>
                </div>
            </div>
        </ng-template>

        <!-- LOGIC FOR DRAWING TABLE HEADERS -->
        <ng-template pTemplate="header" let-columns> 
            <tr>
                <ng-container *ngIf="!actionsColumnAligmentRight">
                    <ng-container *ngTemplateOutlet="actionColumnHeaderTemplate"></ng-container>
                </ng-container>
                <ng-container *ngIf="rowSelectorColumnActive && !rowSelectorColumnAligmentRight">
                    <ng-container *ngTemplateOutlet="rowSelectorColumnHeaderTemplate"></ng-container>
                </ng-container>
                <ng-container *ngFor="let col of columns">
                    <th [ngStyle]="getColumnStyle(col, true)"
                        pResizableColumn [pResizableColumnDisabled]="!col.canBeResized ? true : false"
                        pReorderableColumn [pReorderableColumnDisabled]="!col.canBeReordered ? true : false"
                        pFrozenColumn [frozen]="col.frozenColumnAlign === enumFrozenColumnAlign.Left || col.frozenColumnAlign === enumFrozenColumnAlign.Right" [alignFrozen]="getFrozenColumnAlignAsText(col.frozenColumnAlign)"
                        [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.canBeSorted ? true : false"
                        style="text-align: center;"
                        [id]="col.field + '-header'" [attr.scope]="'col'">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            {{col.header}}
                            <ng-container *ngIf="col.canBeSorted">
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </ng-container>
                            <ng-container *ngIf="col.canBeFiltered">
                                <ng-container *ngIf="!col.filterPredifinedValuesName || col.filterPredifinedValuesName.length === 0">
                                    <p-columnFilter type="{{getDataTypeAsText(col.dataType)}}" field="{{col.field}}" display="menu" [showButtons]="false"></p-columnFilter>
                                </ng-container>
                                <ng-container *ngIf="col.filterPredifinedValuesName && col.filterPredifinedValuesName.length > 0">
                                    <p-columnFilter
                                        type="{{getDataTypeAsText(col.dataType)}}" field="{{col.field}}" display="menu" [showButtons]="false"
                                        matchMode="in" operator="or"
                                        [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showClearButton]="false" [showApplyButton]="false">
                                        <ng-template pTemplate="filter">
                                            <p-multiSelect [style]="{minWidth: '400px'}"
                                                [(ngModel)]="predifinedFiltersSelectedValuesCollection[col.filterPredifinedValuesName]"
                                                [options]="getPredifinedFilterValues(col.filterPredifinedValuesName)"
                                                [placeholder]="predifinedFiltersNoSelectionPlaceholder"
                                                (onChange)="onPredifinedFilterChange(col.field, $event.value)"
                                                optionLabel="name">
                                                <ng-template pTemplate="selectedItems">
                                                    <ng-container *ngIf="predifinedFiltersSelectedValuesCollection[col.filterPredifinedValuesName] && predifinedFiltersSelectedValuesCollection[col.filterPredifinedValuesName].length > 0; else noSelectionPlaceholder">
                                                        <div class="flex align-items-center gap-2">
                                                            <div>{{ predifinedFiltersSelectedValuesText(col.filterPredifinedValuesName) }}</div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-template #noSelectionPlaceholder>
                                                        <div>{{ predifinedFiltersNoSelectionPlaceholder }}</div>
                                                    </ng-template>
                                                </ng-template>
                                                <ng-template let-option pTemplate="item">
                                                    <div class="inline-block vertical-align-middle">
                                                        <ng-container *ngTemplateOutlet="predifinedFilterTemplate; context: { option: option, col: col, rowData: '' }"></ng-container>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                        </ng-template>
                                    </p-columnFilter>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="col.columnDescription && col.columnDescription.length > 0">
                                <i [pTooltip]="col.columnDescription" tooltipPosition="top" class="pi pi-info-circle"></i>
                            </ng-container>
                        </div>
                    </th>
                </ng-container>
                <ng-container *ngIf="rowSelectorColumnActive && rowSelectorColumnAligmentRight">
                    <ng-container *ngTemplateOutlet="rowSelectorColumnHeaderTemplate"></ng-container>
                </ng-container>
                <ng-container *ngIf="actionsColumnAligmentRight">
                    <ng-container *ngTemplateOutlet="actionColumnHeaderTemplate"></ng-container>
                </ng-container>
            </tr>
        </ng-template>

        <!-- LOGIC FOR DRAWING TABLE DATA WHEN THERE IS CONTENTS -->
        <ng-template pTemplate="body" let-rowData let-columns="columns"> 
            <tr>
                <ng-container *ngIf="!actionsColumnAligmentRight">
                    <ng-container *ngTemplateOutlet="actionColumnTemplate; context: { rowData: rowData }"></ng-container>
                </ng-container>
                <ng-container *ngIf="rowSelectorColumnActive && !rowSelectorColumnAligmentRight">
                    <ng-container *ngTemplateOutlet="rowSelectorColumnTemplate; context: { rowData: rowData }"></ng-container>
                </ng-container>

                <!-- REST OF COLUMNS -->
                <ng-container *ngFor="let col of columns">
                    <td (mousedown)="col.dataType !== enumDataType.Boolean && copyToClipboardStart($event)" (mouseup)="copyToClipboardCancel()"
                        [ngStyle]="getColumnStyle(col)"
                        pFrozenColumn [frozen]="col.frozenColumnAlign === enumFrozenColumnAlign.Left || col.frozenColumnAlign === enumFrozenColumnAlign.Right" [alignFrozen]="getFrozenColumnAlignAsText(col.frozenColumnAlign)"
                        [style.text-align]="getDataAlignHorizontalAsText(col.dataAlignHorizontal)" 
                        [style.vertical-align]="getDataAlignVerticalAsText(col.dataAlignVertical)"
                        [ngSwitch]="col.dataType">
                        <div *ngIf="rowData[col.field] !== null; else nullContent">
                            <div *ngIf="col.filterPredifinedValuesName && col.filterPredifinedValuesName.length > 0">
                                <div 
                                    class="inline-block vertical-align-middle" 
                                    [ngStyle]="{
                                        'display': 'flex',
                                        'justify-content': getDataAlignHorizontalAsText(col.dataAlignHorizontal),
                                        'align-items': getDataAlignVerticalAsText(col.dataAlignVertical)
                                    }">
                                    <ng-container *ngIf="getPredfinedFilterMatch(col, rowData[col.field]) as option">
                                        <div class="inline-block vertical-align-middle"
                                            [pTooltip]="col.dataTooltipCustomColumnSource && col.dataTooltipCustomColumnSource.length > 0 
                                                ? rowData[col.dataTooltipCustomColumnSource] 
                                                : rowData[col.field]"
                                            [tooltipDisabled]="!col.dataTooltipShow"
                                            [showDelay]="700"
                                            tooltipPosition="top">
                                            <ng-container *ngTemplateOutlet="predifinedFilterTemplate; context: { option: option, col: col, rowData: rowData }"></ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div *ngIf="!col.filterPredifinedValuesName || col.filterPredifinedValuesName.length === 0">
                                <div *ngSwitchCase="enumDataType.Boolean">
                                    <i class="pi" 
                                        [pTooltip]="col.dataTooltipCustomColumnSource && col.dataTooltipCustomColumnSource.length > 0 
                                            ? rowData[col.dataTooltipCustomColumnSource] 
                                            : rowData[col.field]"  
                                        [tooltipDisabled]="!col.dataTooltipShow || !col.dataTooltipCustomColumnSource || col.dataTooltipCustomColumnSource.length === 0"
                                        [showDelay]="700"
                                        tooltipPosition="top"
                                        [style.color]="rowData[col.field] ? 'green' : 'red'"
                                        [ngClass]="{ 'pi-check-circle': rowData[col.field],
                                        'pi-times-circle': !rowData[col.field] }"></i>
                                </div>
                                <div *ngSwitchCase="enumDataType.Date">
                                    <div [innerHtml]="highlightText(formatDate(rowData[col.field]), col, globalSearchText)"
                                        [pTooltip]="col.dataTooltipCustomColumnSource && col.dataTooltipCustomColumnSource.length > 0 
                                            ? rowData[col.dataTooltipCustomColumnSource] 
                                            : formatDate(rowData[col.field])" 
                                        [tooltipDisabled]="!col.dataTooltipShow"
                                        [showDelay]="700"
                                        tooltipPosition="top">
                                        {{ formatDate(rowData[col.field]) }}
                                    </div>
                                </div>
                                <div *ngSwitchDefault>
                                    <div [innerHtml]="highlightText(rowData[col.field], col, globalSearchText)"
                                        [pTooltip]="col.dataTooltipCustomColumnSource && col.dataTooltipCustomColumnSource.length > 0 
                                            ? rowData[col.dataTooltipCustomColumnSource] 
                                            : rowData[col.field]"
                                        [tooltipDisabled]="!col.dataTooltipShow"
                                        [showDelay]="700"
                                        tooltipPosition="top">
                                        {{ rowData[col.field] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #nullContent>
                            <!-- Content for null cases, by default, don't draw anything -->
                        </ng-template>
                    </td>
                </ng-container>
                <ng-container *ngIf="rowSelectorColumnActive && rowSelectorColumnAligmentRight">
                    <ng-container *ngTemplateOutlet="rowSelectorColumnTemplate; context: { rowData: rowData }"></ng-container>
                </ng-container>
                <ng-container *ngIf="actionsColumnAligmentRight">
                    <ng-container *ngTemplateOutlet="actionColumnTemplate; context: { rowData: rowData }"></ng-container>
                </ng-container>
            </tr>
        </ng-template>

        <!-- LOGIC FOR DRAWING TABLE DATA WHEN THERE IS NO CONTENTS -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="999">{{noDataFoundText}}</td>
            </tr>
        </ng-template>

        <!-- LOGIC FOR DRAWING PAGINATION -->
        <ng-template pTemplate="summary"> 
            <div #paginatorContainer style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="p-d-flex mt-2">
                    Showing {{totalRecords}} records of {{totalRecordsNotFiltered}} available records
                </div>
                <div class="p-d-flex">
                    <p-paginator 
                        [style]="{'background-color': 'transparent'}"
                        [first]="currentPage * currentRowsPerPage"
                        [rows]="currentRowsPerPage"
                        [totalRecords]="totalRecords"
                        (onPageChange)="pageChange($event)"
                        [rowsPerPageOptions]="allowedRowsPerPage"
                        [showCurrentPageReport]="false"></p-paginator>
                </div>
            </div>
        </ng-template>
    </p-table>
</div>

<!--COLUMN MODAL DIALOG-->
<p-dialog [(visible)]="columnModalShow" [modal]="true" [draggable]="false" [resizable]="false" [closeOnEscape]="false" [closable]="false" [maximizable]="false" [style]="{'min-width': '65vw', 'max-width': '65vw'}">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="white-space-nowrap"><b>MODIFY COLUMNS</b></span>
        </div>
    </ng-template>
    <div style="padding: 20px;">
        <p-table #dt_columnDialog [value]="columnModalData" [scrollable]="true"
            responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
            scrollDirection="both" [globalFilterFields]="['header']" scrollHeight="400px" [tableStyle]="{'min-width': '25rem'}"
            (onFilter)="onColumnModalFilter($event)">
            <ng-template pTemplate="caption">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <p-checkbox inputId="selectAll" [binary]="true" [ngModel]="allColumnsCheckboxActive()" (onChange)="allColumnsCheckboxClick($event)"></p-checkbox>
                        <label for="selectAll">Select all columns</label>
                    </div>
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText (input)="filterColumnModal($event)" placeholder="Search column name"/>
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pFrozenColumn alignFrozen="left" style="max-width: 100px; min-width: 100px; width: 100px; text-align: center;">Show column</th>
                    <th pFrozenColumn alignFrozen="left" style="text-align: center;">Column name</th>
                    <th style="max-width: 150px; min-width: 150px; width: 150px; text-align: center;">Cell overflow behaviour</th>
                    <th style="max-width: 150px; min-width: 150px; width: 150px; text-align: center;">Horizontal aligment</th>
                    <th style="max-width: 150px; min-width: 150px; width: 150px; text-align: center;">Vertical aligment</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td pFrozenColumn alignFrozen="left" style="max-width: 100px; min-width: 100px; width: 100px; text-align: center;">
                        <p-checkbox 
                            [(ngModel)]="rowData.selected" 
                            [binary]="true"
                            [disabled]="rowData.selectDisabled"></p-checkbox>
                    </td>
                    <td pFrozenColumn alignFrozen="left" >{{rowData.header}}</td>
                    <td style="max-width: 150px; min-width: 150px; width: 150px; text-align: center;">
                        <p-selectButton [(ngModel)]="rowData.cellOverflowBehaviour" [options]="cellOverflowBehaviourOptions" optionValue="val" optionLabel="icon" [disabled]="rowData.cellOverflowBehaviourDisabled">
                            <ng-template let-item pTemplate>
                                <i [class]="item.icon" style="margin: -20px; transform: translateX(12px);"></i>
                            </ng-template>
                        </p-selectButton>
                    </td>
                    <td style="max-width: 160px; min-width: 160px; width: 160px; text-align: center;">
                        <p-selectButton [(ngModel)]="rowData.dataAlignHorizontal" [options]="dataAlignHorizontalOptions" optionValue="val" optionLabel="icon" [disabled]="rowData.dataAlignHorizontalDisabled">
                            <ng-template let-item pTemplate>
                                <i [class]="item.icon" style="margin: -20px; transform: translateX(12px);"></i>
                            </ng-template>
                        </p-selectButton>
                    </td>
                    <td style="max-width: 150px; min-width: 150px; width: 150px; text-align: center;">
                        <p-selectButton [(ngModel)]="rowData.dataAlignVertical" [options]="dataAlignVerticalOptions" optionValue="val" optionLabel="icon" [disabled]="rowData.dataAlignVerticalDisabled">
                            <ng-template let-item pTemplate>
                                <i [class]="item.icon" style="margin: -20px; transform: translateX(12px);"></i>
                            </ng-template>
                        </p-selectButton>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="999">There are no columns</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary"> 
                <div #paginatorContainer style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                    <div class="p-d-flex mt-2">
                        Showing {{filteredColumnData ? filteredColumnData.length : 0}} records of {{columnModalData ? columnModalData.length : 0}} available records
                    </div>
                    <div class="p-d-flex">
                    </div>
                </div>
            </ng-template>
        </p-table>
    </div>
    <ng-template pTemplate="footer" style="display: flex; justify-content: space-between; align-items: center;">
        <p-button (click)="columnModalShow = false" label="Cancel changes" severity="danger" [style]="{'margin-top': '20px'}"></p-button>
        <p-button (click)="applyColumnModalChanges()" label="Save changes" severity="success" [style]="{'margin-top': '20px'}"></p-button>
    </ng-template>
</p-dialog>

<!--TABLE VIEW SAVE-->
<p-dialog [(visible)]="newViewShowModal" [modal]="true" [draggable]="false" [resizable]="false" [closeOnEscape]="false" [closable]="false" [maximizable]="false" [style]="{'max-width': '60vw'}">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="white-space-nowrap"><b>{{ editingViewAlias !== '' ? 'UPDATE VIEW' : 'CREATE NEW VIEW' }}</b></span>
        </div>
    </ng-template>
    <div style="display: flex; flex-direction: column; gap: 8px;">
        <label for="newtableviewname"><strong>View alias<span style="color: red;">*</span></strong></label>
        <input 
            pInputText 
            id="newtableviewname" 
            aria-describedby="newtableviewname-help" 
            style="width: 400px;"
            maxlength="30"
            [(ngModel)]="newViewAlias"/>
    </div>
    <ng-template pTemplate="footer" style="display: flex; justify-content: space-between; align-items: center;">
        <p-button (click)="newViewShowModal = false" label="Cancel" severity="danger" [style]="{'margin-top': '20px'}"></p-button>
        <p-button (click)="createOrUpdateTableView()" [label]="editingViewAlias !== '' ? 'Update' : 'Create'" severity="success" [style]="{'margin-top': '20px'}"></p-button>
    </ng-template>
</p-dialog>

<!--VIEWS MODAL DIALOG-->
<p-dialog [(visible)]="viewsModalShow" [modal]="true" [draggable]="false" [resizable]="false"
    [closable]="true" [closeOnEscape]="false" [maximizable]="false" [style]="{'min-width': '70vw', 'max-width': '70vw'}">
    <ng-template pTemplate="header">
        <div>
            <span class="p-dialog-title">Table Views</span>
        </div>
    </ng-template>
    <div class="p-4 pt-0">
        <p-table #dt_viewsDialog [value]="tableViews_menuItems" [scrollable]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
            responsiveLayout="scroll" scrollHeight="flex">
            <ng-template pTemplate="caption">
                <div #headerContainer class="p-d-flex justify-content-end align-items-center w-100">
                    <button pButton pRipple icon="pi pi-plus" (click)="newViewModalShow()" 
                    pTooltip="New View" tooltipPosition="top"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>View name</th>
                    <th style="max-width: 300px; min-width: 300px; width: 300px;">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>
                        {{rowData.label}}
                    </td>
                    <td style="max-width: 300px; min-width: 300px; width: 300px; display: flex; justify-content: center; align-items: center; height: 100%;">
                        <button pButton icon="pi pi-upload" (click)="loadTableView(rowData.label);" [showDelay]="700" pTooltip="Restore" tooltipPosition="top" size="small" class="p-button-sm" style="height: 28px; margin-right: 10px;"></button>
                        <button pButton icon="pi pi-save" (click)="editingViewAlias=''; saveTableViews(false, false, rowData.label)" [showDelay]="700" pTooltip="Save" tooltipPosition="top" size="small" class="p-button-sm" style="height: 28px; margin-right: 10px;"></button>
                        <button pButton icon="pi pi-pencil" (click)="newViewModalShow(false, rowData.label)" [showDelay]="700" pTooltip="Edit" tooltipPosition="top" size="small" class="p-button-sm" style="height: 28px; margin-right: 10px;"></button>
                        <button pButton icon="pi pi-trash" (click)="deleteTableView(rowData.label);" [showDelay]="700" pTooltip="Delete" tooltipPosition="top" size="small" class="p-button-sm" style="height: 28px;"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="999">There are no views</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary"> 
                <div #paginatorContainer>
                    <div>
                        Showing {{tableViews_menuItems ? tableViews_menuItems.length : 0}} records
                    </div>
                    <div>
                    </div>
                </div>
            </ng-template>
        </p-table>
    </div>
</p-dialog>

<!--EXCEL EXPORT MODAL DIALOG-->
<p-dialog [(visible)]="excelExportModalShow" [modal]="true" [draggable]="false" [resizable]="false"
    [closable]="false" [closeOnEscape]="false" [maximizable]="false" [style]="{'min-width': '70vw', 'max-width': '70vw'}">
    <ng-template pTemplate="header">
        <div>
            <span class="p-dialog-title">Export table to Excel</span>
        </div>
    </ng-template>
    <p>How would you like to export the table information to Excel?</p>
    <p><b><label for="reportTitle">Report title</label></b></p>
    <p><input pInputText id="reportTitle" [(ngModel)]="reportTitle" [disabled]="!reportTitleAllowUserEdit" maxlength="100" pattern="^[A-Za-z0-9_-][A-Za-z0-9 _-]*$"/></p>
    <div class="p-4 pt-0">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 16px;">

            <!-- Columns Group -->
            <p-card header="Columns" class="p-shadow-2 mb-4">
                <div class="flex flex-column">
                    <div *ngFor="let export_optCols of exportToExcelOptions_allColumns" class="field-checkbox" [ngStyle]="{'margin-bottom': '10px'}">
                        <p-radioButton 
                            [inputId]="export_optCols.key" 
                            name="columns" 
                            [value]="export_optCols.value" 
                            [(ngModel)]="exportToExcelOptions.allColumns" />
                        <label [for]="export_optCols.key" class="ml-2">
                            {{ export_optCols.name }}
                        </label>
                    </div>
                </div>
            </p-card>

            <!-- Filters Group -->
            <p-card header="Filters" class="p-shadow-2 mb-4">
                <div class="flex flex-column">
                    <div *ngFor="let export_optFilters of exportToExcelOptions_applyFilters" class="field-checkbox" [ngStyle]="{'margin-bottom': '10px'}">
                        <p-radioButton 
                            [inputId]="export_optFilters.key" 
                            name="filters" 
                            [value]="export_optFilters.value" 
                            [(ngModel)]="exportToExcelOptions.applyFilters" />
                        <label [for]="export_optFilters.key" class="ml-2">
                            {{ export_optFilters.name }}
                        </label>
                    </div>
                </div>
            </p-card>

            <!-- Sorting Group -->
            <p-card header="Sorting" class="p-shadow-2 mb-4">
                <div class="flex flex-column">
                    <div *ngFor="let export_optSorts of exportToExcelOptions_applySorting" class="field-checkbox" [ngStyle]="{'margin-bottom': '10px'}">
                        <p-radioButton 
                            [inputId]="export_optSorts.key" 
                            name="sorting" 
                            [value]="export_optSorts.value" 
                            [(ngModel)]="exportToExcelOptions.applySorting" />
                        <label [for]="export_optSorts.key" class="ml-2">
                            {{ export_optSorts.name }}
                        </label>
                    </div>
                </div>
            </p-card>

            <!-- Selected rows Group -->
            <p-card *ngIf="rowSelectorColumnActive" header="Selected rows" class="p-shadow-2 mb-4">
                <p>If you have no rows selected, this filter won't be taken into account.</p>
                <div class="flex flex-column">
                    <div *ngFor="let export_optSelectedRows of exportToExcelOptions_selectedRows" class="field-checkbox" [ngStyle]="{'margin-bottom': '10px'}">
                        <p-radioButton 
                            [inputId]="export_optSelectedRows.key" 
                            name="selectedRows" 
                            [value]="export_optSelectedRows.value" 
                            [(ngModel)]="exportToExcelOptions.selectedRows" />
                        <label [for]="export_optSelectedRows.key" class="ml-2">
                            {{ export_optSelectedRows.name }}
                        </label>
                    </div>
                </div>
            </p-card>

        </div>
    </div>

    <ng-template pTemplate="footer" style="display: flex; justify-content: space-between; align-items: center;">
        <p-button (click)="excelExportModalShow = false" label="Cancel" severity="danger" [style]="{'margin-top': '20px'}"></p-button>
        <p-button (click)="getExcelReport()" label="Export" severity="success" [style]="{'margin-top': '20px'}"></p-button>
    </ng-template>
</p-dialog>
