@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "primeicons/primeicons.css"; // Icons from PrimeNG

body {
  font-family: 'Roboto', sans-serif;
}


.exampleClass {
  background-color: #ffcccc !important;
  color: #990000 !important;
  font-weight: bold !important;
}